.linkNav{
    animation: downLink 1s ease forwards ;
    transform: translateY(-20px);
    opacity: 0;
  
   }
  
   @keyframes downLink {
    from{
      opacity: 0;
      transform: translateY(-20px);
    }to{
      opacity: 1;
      transform: translateY(0px);
    }
   }
  